/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.form-container {
    text-align: center;
}

.form-container form{
    margin: 0 24% 0 24%;
    border: 1px solid rgb(10, 10, 158);
    border-radius: 1%;
    padding: 2%;
}

.form-item {
    text-align: start;
    margin: 10px 0 10px 0;
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.input-item {
    margin-right: -15%;
    width: 80%;
}

.input-item input, .input-item select {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

.form-item label, .country-form-item label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding: 6px 10px;
    margin: 8px 0;
}

.form-container p {
    text-align: center;
    margin-top: -10px;
}

.country {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    display: inline-flex;
    justify-content: space-between;
    padding: 6px 10px;
    margin: 8px 18%;
    text-align: left;
}

.country-form-item {
    text-align: start;
    margin: 10px 0 10px 0;
    width: 85%;
}